version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStringSql=Server=database\\MSSQLLocalDB;TrustServerCertificate=True;Database=ClientManagementDB;User Id=sa; Password=Mudar@123
    ports:
      - "5102:80" #Swagger
      - "9102:81" #Api
    depends_on:
      - database
  
  database:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Mudar@123
      - MSSQL_DBNAME=ClientManagementDB
    ports:
      - "1433:1433"
  
